/recipe/prodigy-1.10.5-cp36.cp37.cp38-cp36m.cp37m.cp38-linux_x86_64.whl
/recipe/prodigy-1.10.5-cp36.cp37.cp38-cp36m.cp37m.cp38-win_amd64.whl
/data/html_tables/
/data/xml/
/data/json/test_tableclass.jsonl
/data/json/trial_tableclass.jsonl
/data/json/unused_tableclass.jsonl
/data/json/val_tableclass.jsonl
/data/json/train_tableclass.jsonl
/data/json/testjson.jsonl
/recipe/pmctables_json.jsonl
/data/out/
/data/json/
/.idea
/pk_tables.egg-info
